html{
    text-align: center;
    justify-content: center;
    padding-top: none;
    margin-top: none;
  }
  .tulseal{
    height: 5rem;
  }
  a{
    color: #f1f1f1;
    text-decoration: none;
  }
  li{
    text-align: center;
    list-style-position: inside;
  }
  footer{
    margin-top: 2rem;
    background-color: #542E71;
    width: 100%;
  }
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #84A9C0;
    padding-top: none;
    margin-top: none;
    margin-bottom: 2rem;
  }
  body{
    margin-top: 0px;
    padding-top: 0px;
    background-color: #6A66A3;
    margin: 0px;
  }
  p{
    margin: 2rem;
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }